{% extends 'page.html.twig' %}
{% block titlePage %}Inscription{% endblock %}

{% block main %}
    <div class="container section_gap">
        <div class="billing_details">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Créez votre compte</h3>
                    {% for flash_type, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ flash_type }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {{ form_start(form, { 'attr': {'class': 'row contact_form'} }) }}
                        <div class="col-md-6 form-group p_star">
                            {{ form_widget(form.lastname, { 'attr': {'class': 'form-control', 'placeholder': form.lastname.vars.label} }) }}
                            {{ form_errors(form.lastname) }}
                        </div>
                        <div class="col-md-6 form-group p_star">
                            {{ form_widget(form.firstname, { 'attr': {'class': 'form-control', 'placeholder': form.firstname.vars.label} }) }}
                            {{ form_errors(form.firstname) }}
                        </div>
                        <div class="col-md-12 form-group p_star">
                            {{ form_widget(form.password, { 'attr': {'class': 'form-control', 'placeholder': form.password.vars.label} }) }}
                            {{ form_errors(form.password) }}
                        </div>
                        <div class="col-md-6 form-group p_star">
                            {{ form_widget(form.phone, { 'attr': {'class': 'form-control', 'placeholder': form.phone.vars.label} }) }}
                            {{ form_errors(form.phone) }}
                        </div>
                        <div class="col-md-6 form-group p_star">
                            {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': form.email.vars.label} }) }}
                            {{ form_errors(form.email) }}
                        </div>
                        <div class="col-md-12 form-group p_star">
                            {{ form_widget(form.address, { 'attr': {'class': 'form-control', 'placeholder': form.address.vars.label} }) }}
                            {{ form_errors(form.address) }}
                        </div>
                        <div class="col-md-6 form-group p_star">
                            {{ form_widget(form.zipcode, { 'attr': {'class': 'form-control', 'placeholder': form.zipcode.vars.label} }) }}
                            {{ form_errors(form.zipcode) }}
                        </div>
                        <div class="col-md-6 form-group p_star">
                            {{ form_widget(form.city, { 'attr': {'class': 'form-control', 'placeholder': form.city.vars.label} }) }}
                            {{ form_errors(form.city) }}
                        </div>
                        <div class="col-md-6 offset-md-5">
                            <button type="submit" value="submit" class="primary-btn">s'inscrire</button>
                        </div>
                    {{ form_end(form) }}
                </div>

            </div>
        </div>
    </div>
{% endblock %}